@model BrainfinityWebApp.ViewModels.NovaGrupaSveGrupeZadataka

<div class="row">
    <div class="col-md-6">
        <h2>@ViewData["TakmicenjeNaziv"]</h2>
    </div>
    <div class="col-md-4">
        <a href="#" class="btn btn-danger pull-right grupa-zadataka-dugme" style="margin-top:20px; margin-bottom:10px; font-size:16px;">
            <span><img src="~/images/user-plus.png" style="height:16px; width: 16px;" /> &nbsp;Prijavi tim</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <h3>Osnovna škola</h3>
    </div>
    <div class="col-md-4">
        @*<a href="#" class="btn btn-primary pull-right grupa-zadataka-dugme" style="margin-top: 20px; margin-bottom:10px; font-size:16px;">
                <span>
                    <img src="~/images/layers.png" style="height:16px; width: 16px;" />&nbsp; Nova grupa zadataka
                </span>
            </a>*@
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary grupa-zadataka-dugme pull-right" data-toggle="modal" data-target="#novaGrupaModal">
            <span>
                <img src="~/images/layers.png" style="height:16px; width: 16px;" />&nbsp; Nova grupa zadataka
            </span>
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="novaGrupaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    @*<div class="col-md-1"></div>*@
                    <div class="col-md-10 col-lg-offset-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:40px;"><span aria-hidden="true">&times;</span></button>

                        <h4 class="modal-title" id="myModalLabel">Nova grupa zadataka</h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateGrupaZadataka", "GrupaZadataka"))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.NivoSkoleId, new SelectList(Model.NivoiSkole, "Id", "NivoSkoleNaziv"), "Odaberite nivo škole", new { @class = "form-control", @id = "nivoSkole" })
                            @*@Html.ValidationMessageFor(m => m.GrupaZadataka.RazredId, null, new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.RazredId, new SelectList(Enumerable.Empty<Razred>()), "Odaberite razred", new { @class = "form-control", @id = "razredi" })
                            @*@Html.ValidationMessageFor(m => m.GrupaZadataka.Razred.NivoSkoleId, null, new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-10 col-lg-offset-1">
                            @Html.HiddenFor(m => m.TakmicenjeId)
                            <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                            <button type="submit" class="btn btn-primary">
                                <span>
                                    <img src="~/images/layers.png" style="height:16px; width: 16px;" />&nbsp; Kreiraj
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@if (Model.SveGrupe.Count() != 0)
{
    <div class="row">

        <div class="col-md-12">

            @foreach (var grupa in Model.SveGrupe.Where(m => m.Razred.NivoSkoleId == 1).OrderBy(m => m.Razred.Id))
            {
                var updateId = "update" + grupa.Id;
                <div class="row grupa">
                    <div class="col-md-10">
                        <div class="grupa-zadataka">
                            <div class="row">
                                <div class="col-md-11">
                                    <h3 class="grupa-zadataka-naslov">@grupa.Razred.RazredNaziv</h3>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn-link pull-right" data-toggle="modal" data-target="#@grupa.Id">
                                        <img src="~/images/trash.png" data-toggle="tooltip" title="Obriši" />
                                    </button>
                                    <button type="button" class="btn-link pull-right" data-toggle="modal" data-target="#@updateId">
                                        <img src="~/images/edit.png" data-toggle="tooltip" title="Izmeni" />
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                @await Component.InvokeAsync("Zadatak", new { grupaId = grupa.Id })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Srednja škola</h3>
        </div>
    </div>

    @foreach (var grupa in Model.SveGrupe.Where(m => m.Razred.NivoSkoleId == 2).OrderBy(m => m.Razred.Id))
    {
        var updateId = "update" + grupa.Id;
        <div class="row grupa">
            <div class="col-md-10">
                <div class="grupa-zadataka">
                    <div class="row">
                        <div class="col-md-11">
                            <h3 class="grupa-zadataka-naslov">@grupa.Razred.RazredNaziv</h3>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn-link pull-right" data-toggle="modal" data-target="#@grupa.Id">
                                <img src="~/images/trash.png" data-toggle="tooltip" title="Obriši" />
                            </button>
                            <button type="button" class="btn-link pull-right" data-toggle="modal" data-target="#@updateId">
                                <img src="~/images/edit.png" data-toggle="tooltip" title="Izmeni" />
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        @await Component.InvokeAsync("Zadatak", new { grupaId = grupa.Id })
                    </div>
                </div>
            </div>
        </div>

    }

    foreach (var grupa in Model.SveGrupe)
    {
        var updateId = "update" + grupa.Id;
        <div class="modal fade" id="@updateId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            @*<div class="col-md-1"></div>*@
                            <div class="col-md-10 col-lg-offset-1">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:40px;"><span aria-hidden="true">&times;</span></button>

                                <h4 class="modal-title" id="myModalLabel">Izmeni grupu zadataka</h4>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("Edit", "GrupaZadataka", new { grupaId = grupa.Id }, FormMethod.Post, null, null))
                    {
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(m => grupa.Razred.NivoSkoleId, new SelectList(Model.NivoiSkole, "Id", "NivoSkoleNaziv"), "Odaberite nivo škole", new { @class = "form-control", @id = "nivoSkoleEdit" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(m => m.RazredId, new SelectList(Enumerable.Empty<Razred>()), "Odaberite razred", new { @class = "form-control", @id = "razrediEdit" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-10 col-lg-offset-1">
                                    @Html.HiddenFor(m => m.TakmicenjeId)
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                                    <button type="submit" class="btn btn-primary">Potvrdi</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal fade" id="@grupa.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            @*<div class="col-md-1"></div>*@
                            <div class="col-md-10 col-lg-offset-1">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:40px;"><span aria-hidden="true">&times;</span></button>

                                <h4 class="modal-title" id="myModalLabel">Obriši grupu zadataka</h4>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("DeleteGrupaZadataka", "GrupaZadataka", new { grupaId = grupa.Id }))
                    {
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <p>Da li ste sigurni da želite da obrišete grupu zadataka "<b>@grupa.Razred.RazredNaziv</b>"</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-10 col-lg-offset-1">
                                    @Html.HiddenFor(m => m.TakmicenjeId)
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                                    <button type="submit" class="btn btn-danger">
                                        <span>
                                            <img src="~/images/trash-light.png" style="height:16px; width: 16px;" />&nbsp; Obriši
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
@section Scripts{
    <script>
        $('#nivoSkole').change(function () {
            var url = '@Url.Content("~/")' + "GrupaZadataka/GetRazredi";
            var ddlSource = "#nivoSkole";

            var jsonRazredi = JSON.stringify(@Json.Serialize(Model.Razredi));
            var jsonGrupeZadataka = JSON.stringify(@Json.Serialize(Model.SveGrupe));

            $.getJSON(url, { nivoSkoleId: $(ddlSource).val(), sviRazredi: jsonRazredi}, function (data) {
                var items = '';
                $('#razredi').empty();
                $.each(data, function (i, razred) {
                    items += "<option value='" + razred.value + "'>" + razred.text + "</option>";
                });
                $('#razredi').html(items);
            })
        })

        $(document).ready(function () {
            var url = '@Url.Content("~/")' + "GrupaZadataka/GetRazredi";
            var ddlSource = "#nivoSkoleEdit";

            var jsonRazredi = JSON.stringify(@Json.Serialize(Model.Razredi));
            var jsonGrupeZadataka = JSON.stringify(@Json.Serialize(Model.SveGrupe));

            $.getJSON(url, { nivoSkoleId: $(ddlSource).val(), sviRazredi: jsonRazredi}, function (data) {
                var items = '<option>Odaberite razred</option>';

                $.each(data, function (i, razred) {
                    items += "<option value='" + razred.value + "'>" + razred.text + "</option>";
                });
                $('#razrediEdit').html(items);
            })
        })

        $('#nivoSkoleEdit').change(function () {
            var url = '@Url.Content("~/")' + "GrupaZadataka/GetRazredi";
            var ddlSource = "#nivoSkoleEdit";

            var jsonRazredi = JSON.stringify(@Json.Serialize(Model.Razredi));
            var jsonGrupeZadataka = JSON.stringify(@Json.Serialize(Model.SveGrupe));

            $.getJSON(url, { nivoSkoleId: $(ddlSource).val(), sviRazredi: jsonRazredi}, function (data) {
                var items = '<option>Odaberite razred</option>';
                //$('#razrediEdit').empty();
                $.each(data, function (i, razred) {
                    items += "<option value='" + razred.value + "'>" + razred.text + "</option>";
                });
                $('#razrediEdit').html(items);
            })
        })
    </script>
}